<link rel="stylesheet" href="/css/user_profile.css">
<h1>Codeial / <%= title %></h1>

<img src="<%= user.avatar %>" alt="<%= user.name %>" width="250" height="300">

<% if(user.id == profile_user.id){ %>
    <!-- if the user matches the profile_user, then show the form -->
    <form id="user_form" action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
        <input class="user-form-attribute" type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input class="user-form-attribute" type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input class="user-form-attribute" type="file" name="avatar" placeholder="Profile Picture">
        <button class="user-form-attribute" >Update</button>
    </form>
<% }else{ %> 
    <!-- otherwise only show the details -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
<% } %>